/* Global white: #FFFFFF;*/
/* brand-color: #2196F3; */
/* title: #212121;  */
/* Text: #757575; */
/* Main bg: #E5E5E5; */

:root {
    --brand-color: #2196F3;
    --title: #212121;
    --text-white: #FFFFFF;
    --text: #757575;
    --main-bg: #FFFFFF;
}

body {
    color: var(--title);
    background-color: var(--main-bg);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link,
.contacts-link,
.logo,
.adress-city,
.adress-item {
    text-decoration: none;
}

.button {
    cursor: pointer;
}

/* LOGO */
.header .logo,
.footer .logo {
    color: var(--brand-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.header .header-logo {
    color: #000000;
}

/* Header */
.header {
background-color: var(--text-white);
}

.nav-list .link {
    color: var(--title);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list .link:hover,
.nav-list .link:focus,
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--brand-color);
}

.nav-list .link.current {
    color: var(--brand-color);
}

.contacts .contacts-link {
    color: var(--text);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


/* Footer */
.footer {
    background-color: #2F303A;
}

.footer-logo,
.adress-city {
    color: var(--text-white);
}

.footer .adress-item {
    color: rgba(255, 255, 255, 0.6);
    ;
}

.adress-item,
.adress-city {
    font-style: normal;
}