/* Hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.hero-title,
.button {
    color: var(--text-white);
}

.button {
    background-color: var(--brand-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Skills */
.skills .skills-text {
    color: var(--text);
}

.skills-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Works and team */
.works-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team */
.team {
    background-color: #F5F4FA;
}

.team-prof {
    color: var(--text);
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}