/* Global white: #FFFFFF;*/
/* brand-color: #2196F3; */
/* title: #212121;  */
/* Text: #757575; */
/* Main bg: #E5E5E5; */

:root {
    --brand-color: #2196F3;
    --title: #212121;
    --global-white: #FFFFFF;
    --text: #757575;
    --main-bg: #E5E5E5;
}

body {
    color: var(--title);
    background-color: var(--main-bg);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    /* font-style: normal; */
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link,
.contacts-link,
.logo,
.adress-city,
.adress-item {
    text-decoration: none;
}

/* LOGO */
.header .logo,
.footer .logo {
    color: var(--brand-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}

.header .header-logo {
    color: #000000;
}

/* Header */
.nav-list .link {
    color: var(--title);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list .link:hover,
.nav-list .link:focus,
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--brand-color);
}

.nav-list .link.current {
    color: var(--brand-color);
}

.contacts .contacts-link {
    color: var(--text);
}

/* Hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase; 
}

.hero-title,
.button {
    color: var(--global-white);
}

.button {
background-color: var(--brand-color) ;

font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;
} 

/* Skills */
.skills .skills-text {
    color: var(--text);
}

.skills-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Works and team */
.works-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team */
.team-prof {
    color: var(--text);
    text-align: center;
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

/* Footer */
.footer {
    background-color: #2F303A;
}

.footer-logo,
.adress-city {
    color: var(--global-white);
}

.footer .adress-item {
    color: rgba(255, 255, 255, 0.6);;
}

.adress-item,
.adress-city {
    font-style: normal;
}
